<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Регистрация пользователя</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name">{{placeholders.name}} <span class="text-danger">*</span></label>
          <input id="name" type="text" class="form-control" placeholder="{{placeholders.name}}"
                 formControlName="name"
                 [ngClass] = "{'is-valid': name.valid, 'is-invalid': name.invalid && name.touched}">
          <div *ngIf="name.valid" class="valid-feedback">{{formSuccess.name}}</div>
          <div class="invalid-feedback" *ngIf="name.invalid && name.touched">{{formErrors.name}}</div>
        </div>
        <div class="mb-3">
          <label for="password">{{placeholders.password}} <span class="text-danger">*</span></label>
          <input id="password" type="password" class="form-control" placeholder="{{placeholders.password}}"
          formControlName="password"
                 [ngClass] = "{'is-valid': password.valid, 'is-invalid': password.invalid && password.touched}">
          <div *ngIf="password.valid" class="valid-feedback">{{formSuccess.password}}</div>
          <div *ngIf="password.invalid && password.touched" class="invalid-feedback">{{formErrors.password}}</div>
        </div>
        <div class="mb-3">
          <label for="email">{{placeholders.email}} <span class="text-danger">*</span></label>
          <input id="email" type="email" class="form-control" placeholder="{{placeholders.email}}"
                  formControlName="email"
                 [ngClass] = "{'is-valid': email.valid,'is-invalid': email.invalid && email.touched}">
          <div *ngIf="email.valid" class="valid-feedback">{{formSuccess.email}}</div>
          <div *ngIf="email.invalid && email.touched" class="invalid-feedback">{{formErrors.email}}</div>
        </div>
        <div class="mb-3">
          <label for="age">{{placeholders.age}} <span class="text-danger">*</span></label>
          <input id="age" type="number" class="form-control" placeholder="{{placeholders.age}}"
          formControlName="age"
                 [ngClass] = "{'is-valid': age.valid,'is-invalid': age.invalid && age.touched}"
          >
          <div *ngIf="age.valid" class="valid-feedback">{{formSuccess.age}}</div>
          <div *ngIf="age.invalid && age.touched" class="invalid-feedback">{{formErrors.age}}</div>
        </div>
        <div class="mb-3">
          <label for="role">Роль <span class="text-danger">*</span></label>
          <select  id="role" class="form-select" formControlName="role"
                   [ngClass] = "{'is-valid': role.valid,'is-invalid': role.invalid && role.touched}">
            <option [value]="null" selected disabled>{{placeholders.role}}</option>
            <option *ngFor="let role of roles" [value]="role"> {{role}}</option>
          </select>
          <div *ngIf="role.valid" class="valid-feedback">{{formSuccess.role}} </div>
          <div *ngIf="role.invalid && role.touched" class="invalid-feedback">{{formErrors.role}}</div>
        </div>

        <div class="mb-3">
          <button class="btn btn-info" [disabled]="userForm.invalid">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>

