<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Регистрация пользователя</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name">Имя:</label>
          <input id="name" type="text" class="form-control"
          formControlName="login">
          <div class="alert alert-danger"
          *ngIf="userForm.get('login').hasError('required')
                && (userForm.get('login').touched || userForm.get('login').dirty)">
            Обязательное поле.
          </div>
        </div>
        <div class="mb-3">
          <label for="age">Пароль:</label>
          <input id="age" type="text" class="form-control"
          formControlName="password">
          <div class="alert alert-danger"
               *ngIf="userForm.get('password').hasError('required')
                && (userForm.get('password').touched || userForm.get('password').dirty)">
            Обязательное поле.
          </div><div class="alert alert-danger"
               *ngIf="userForm.get('password').hasError('minLength')
                && (userForm.get('password').touched || userForm.get('password').dirty)">
            Требуется минимум 7 символов
          </div>
        </div>

        <div class="mb-3">
          <button class="btn btn-info" [disabled]="userForm.invalid" >Отправить</button>
        </div>
      </form>
      <hr class="mt-4">
    </div>
  </div>
</div>
<!--<form #userForm = "ngForm" (ngSubmit)="onSubmit()">-->
<!--  <div class="mb-3">-->
<!--    <label for="name">Имя:</label>-->
<!--    <input id="name" type="text" class="form-control" name = "name" required minlength="4" maxlength="10"-->
<!--           #name="ngModel"-->
<!--           [(ngModel)]="model.name">-->
<!--    <div *ngIf="formErrors.name" class="alert alert-danger">{{formErrors.name}}</div>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="age">Возраст:</label>-->
<!--    <input id="age" type="number" class="form-control" name = "age" required-->
<!--           #age="ngModel"  [(ngModel)]="model.age">-->
<!--    <div *ngIf="formErrors.age" class="alert alert-danger">{{formErrors.age}}</div>-->

<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="role">Роль:</label>-->
<!--    <select name="role" id="role" class="form-select" required-->
<!--            [(ngModel)]="model.role">-->
<!--      <option *ngFor="let role of roles"-->
<!--              [value]="role">-->
<!--        {{role}}-->
<!--      </option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <button class="btn btn-info" [disabled]="!userForm.form.valid" >Отправить</button>-->
<!--  </div>-->
<!--</form>-->
